#proplist-container {
  padding-top: 55px
}

#search-and-filter {
  display: flex;
  align-items: center;
}

#map-and-proplist {
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 180px;
}