$light-orange: #f8f3f0;
$main-font: "Ubuntu", sans-serif;
$logo-font: "Bad Script", cursive;
$name-font: "Kalam", cursive;
$background-color: #c1b9b9;
$dark-grey: #7c7878;
$font-dark-grey: #574f4a;

body {
  box-sizing: border-box;
  font-family: $main-font;

  a:hover {
    text-decoration: none;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }
}

@import "homepage";
@import "navigation";
@import "user";
@import "propertyDetail";
