$light-orange: #f8f3f0;
$main-font: "Ubuntu", sans-serif;
$logo-font: "Bad Script", cursive;
$name-font: "Kalam", cursive;
$background-color: #c1b9b9;
$dark-grey: #7c7878;
$font-dark-grey: #574f4a;

body {
  box-sizing: border-box;
  font-family: $main-font;

  a:hover {
    text-decoration: none;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }

  /* Homepage.js */
  .homepage-wrapper {
    display: flex;
    justify-content: center;
    padding-left: 40px;
    padding-top: 180px;
    width: 100%;
    height: 1000px;
    background-image: url("https://images.unsplash.com/photo-1523217582562-09d0def993a6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80");
    background-size: cover;

    .search-form {
      display: flex;
      flex-direction: column;
      .search-label {
        font-family: $main-font;
        color: $font-dark-grey;
        h3 {
          font-size: 28px;
        }
      }

      .search-input-wrapper {
        display: flex;
        justify-content: space-between;
        width: 520px;

        .search-input {
          border: none;
          border-radius: 4px;
          font-family: $main-font;
          width: 420px;
          height: 36px;
          opacity: 0.5;
        }

        .search-input:focus {
          outline: none;
        }

        .search-button {
          background-color: $dark-grey;
          border-radius: 4px;
          font-family: $main-font;
          width: 80px;
          color: $light-orange;
        }

        .search-button:focus {
          background-color: $dark-grey;
        }
      }
    }
  }

  /* Navigation.js */  
  

  #nav-wrapper {
    display: flex;
    justify-content: space-around;
    font-family: $main-font;
    padding: 0 20px;
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: $light-orange;

    #nav-logo {
      display: flex;
      align-items: center;
      font-family: $logo-font;
      margin-right: 8px;

      h4 {
        color: $font-dark-grey;
        font-size: 24px;
        font-weight: 700;
        margin: 0;

        span {
          font-size: 28px;
        }
      }
    }

    .nav-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .nav-body-item-list {
        display: flex;
        align-items: center;
        .nav-link {
          color: $dark-grey;
        }

        .nav-link:hover {
          color: $font-dark-grey;
        }

        .dropdown-item {
          color: $dark-grey;
        }

        .dropdown-item:hover,
        .dropdown-item:active {
          background-color: $background-color;
          color: #fff;
        }

        .user-icon {
          font-size: 14px;
        }

        #basic-nav-dropdown {
          padding-left: 8px;
        }
      }
    }
  }


  /* UserpageHeroContent.js */ 
  

  .hero-container {
    padding-top: 80px;
    font-family: $name-font;
    height: 310px;
    width: 100%;
    background-color: $light-orange;
    display: flex;
    justify-content: center;
    align-items: center;

    .hero-content {
      display: flex;
      align-items: center;
      flex-direction: column;
      list-style: none;
      margin-top: 200px;
      padding: 20px;
      z-index: 1;

      .hero-content-item {
        margin: 10px;

        .profile-img {
          width: 200px;
          border-radius: 50%;
        }
      }

      h2 {
        font-size: 40px;
        color: $dark-grey;
      }
    }
  }

  /* User.js (index.js) */

  .user-page-wrapper {
    background-color: $background-color;
    padding: 160px;
    margin: 0 auto;
    display: flex;
    position: relative;
    height: 1000px;
    width: 2000px;


    /* RecentViewList.js & RecentView.js */

    .fav-wrapper {
      width: 100px;
      .fav-properties {
        display: flex;
      }
    }

    
    /* UserInfo.js */

    .user-info-wrapper {
      position: relative;
      width: 400px;
      .user-info-list {
        margin-bottom: 40px;
      }

      #my-info-label {
        background-color: $dark-grey;
        border: $dark-grey;
      }
    }
  }


  /* PropertyDetails.js */

  .property-details-container {
    display: flex;
    justify-content: start;
    padding-left: 100px;
    height: 240px;

    h2 {
      font-family: $main-font;
      color: $dark-grey;
    }
  }

  .btn {
    padding: 8px 32px;
    border-radius: 2px;
    background-color: $light-orange;
  }

  .property-container-wrapper {
    color: $font-dark-grey;
    background-color: $dark-grey;
    padding: 80px 100px;
    display: flex;
    flex-direction: column;
 
    height: 2000px;

    .property-container-top {
      font-family: $main-font;
      display: flex;
      justify-content: space-between;
      align-items: s;
      width: 100%;
      height: 540px;

      .property-img {
        width: 720px;
        border-radius: 8px;
      }

      .contact-info {
        width: 400px;

        .landlord-contact-container {
          text-align: center;
          min-height: 113px;

          .landlord-img {
            width: 100px;
            border-radius: 50%;
            margin: 16px 0;
          }

          .contact-us a {
            color: rgb(55, 52, 52);
          }

          a:hover {
            color: $dark-grey;
          }

          a:visited, a:active, a:link {
            text-decoration: none;
          }
        }
      }
    }

    .property-container-bottom {
      font-family: $main-font;
      background-color: $light-orange;
      margin-top: 80px;
      height: 800px;
      border-radius: 8px;
      padding: 72px 140px;

      .property-title {
        margin-bottom: 60px;
        display: flex;
        justify-content: space-between;
      }
      .details-main {
        display: flex;

        h4 {
          padding-right: 100px;
          margin-bottom: 40px;
        }
      }

      .sub-details,
      .amenities {
        display: flex;
        justify-content: space-between;
        margin: 40px 0;

        .sub-details-item {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      .property-description {
        margin-bottom: 40px;
        font-size: 18px;
        line-height: 1.8;
      }


    }


    /* Slideshow.js */

    .property-slideshow {
      width: 720px;

      .each-slide > div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        height: 540px;
        border-radius: 8px;
      }

    }
  }
}
