#drawer-container {
  font-family: $main-font;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawer-content {
  // border: 1px solid red;
  margin-top: 40px;

  height: 660px;
  width: 600px;

  .app-review-avatar {
    width: max-content;
    // margin: 0 auto;
    .avatar-img {
      height: 120px;
      width: 100px;
    }
  }

  .app-review-info {
    color: $table-font-color;
    border-bottom: 1px solid $table-font-color;

    .app-review-label {
      width: 260px;
    } 
    p {
      padding-top: 10px;
    }
  }
  
  h5 {
    color: $table-font-color;
    margin: 32px 0 20px 0;
  }
  .contact-btn {
    margin: 30px 0;
  }
}
