.homepage-wrapper {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding-left: 40px;
  padding-top: 160px;
  max-width: 3000px;
  height: 1400px;
  background-image: url("https://images.unsplash.com/photo-1523217582562-09d0def993a6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80");
  background-size: cover;

  .search-form {
    display: flex;
    flex-direction: column;
    .search-label {
      font-family: $main-font;
      color: $font-dark-grey;
      h3 {
        font-size: 28px;
      }
    }
  }
}
