.nav-container {
  display: flex;
  justify-content: center;
  background-color: $light-blue;
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 56px;
}

.nav-wrapper {
  display: flex;
  justify-content: space-around;
  font-family: $main-font;
  position: fixed;
  z-index: 3;
  width: 1280px;
  background-color: $light-blue;
  margin: 0 auto;


  .nav-logo {
    display: flex;
    align-items: center;
    font-family: $logo-font;
    font-weight: 700;
    // padding-right: 8px;
    background-color: $light-blue;

    h4 {
      color: $font-dark-grey;
      font-size: 24px;
      font-weight: 700;
      margin: 0;

      span {
        font-size: 28px;
      }
    }
  }

  .nav-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // padding-left: 20px;
    background-color: $light-blue;

    .nav-list-main {
      padding-left: 40px;
      width: 400px;
    }

    .nav-body-item-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .nav-link {
        color: $dark-grey;
        font-size: 16px;
      }

      .nav-link:hover {
        color: $font-dark-grey;
      }

      .dropdown-item {
        color: $dark-grey;
      }

      .dropdown-item:hover,
      .dropdown-item:active {
        background-color: $background-color;
        color: #fff;
      }

      .user-icon {
        font-size: 14px;
        color: $dark-grey;
      }

    }
  }
}
