.card-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 5px;
  margin-right: 5px
}

.card {
  border: solid 2px;
  border-color: #c1b9b9;
  border-radius: 5px;
  margin-bottom: 10px
}

#card:hover {
  box-shadow: 10px 10px #f8f3f0;
  transition: box-shadow 0.2s ease-in-out;
}

.prop_ins {
  display: flex;
  flex-direction: row;
}

#card-img {
  object-fit: cover;
  border-radius: 5px 0 0 5px;
  width: 200px;
  height: 198px
}

#card-body {
  width: 275px;
  height: 198px
}

/* #bed-bath{
  margin-bottom: 0px;
} */

.prop_list_buttons {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 256px;
}