.property-details-main-container {
  background-color: $off-white-blue;
}

.property-container {
  color: $font-dark-grey;
  background-color: $off-white-blue;
  padding: 60px 0;
  display: flex;
  flex-direction: column;

  height: 2000px;

  .property-container-top {
    font-family: $main-font;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .property-img {
      width: 900px;
    }

    .contact-info {
      width: 400px;
      border-radius: 4px;

      .landlord-contact-container {
        text-align: center;
        min-height: 113px;

        .landlord-img {
          width: 100px;
          border-radius: 50%;
          margin: 16px 0;
        }
        a {
          color: $primary-btn-color;
          &:hover {
            color: #fff;
          }
          &:visited, &:active ,&:link {
            text-decoration: none;
          }
        }
      }
    }
  }

  .property-container-bottom {
    font-family: $main-font;
    background-color: #fff;
    margin-top: 80px;
    height: 800px;
    border-radius: 4px;
    padding: 60px 84px;

    .property-title {
      margin-bottom: 60px;
      display: flex;
      justify-content: space-between;
    }
    .details-main {
      display: flex;
      justify-content: start;

      .details-main-list {
        display: flex;
      }

      h5 {
        padding-right: 20px;
        margin-bottom: 40px;
      }
    }

    .sub-details,
    .amenities {
      display: flex;
      justify-content: space-between;
      margin: 40px 0;

      .sub-details-item {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .property-description {
      margin-bottom: 80px;
      font-size: 18px;
      line-height: 1.8;
    }
  }

  /* Slideshow.js */

  .property-slideshow {
    width: 832px;

    .each-slide > div {
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      height: 540px;
    }
  }
}
