
.prop-list-wrapper {
  margin: 0 auto;
  width: 1380px;

  display: flex;
}
.search-and-filter {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
  width: 434px;
}

.prop-list-page-container {
  padding-top: 55px;
}


.map-and-proplist {
  font-family: "Ubuntu", sans-serif;
  color: #574f4a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.prop-list-container {
  z-index: 1;
  width: 510px;
  height: 750px;
  overflow: auto
}

.map-container {
  padding-top: 56px;
}
