$wrapper-width: 1280px;
$light-orange: #f8f3f0;
$table-container-color: #7c7878;

.listitem-head {
  margin: 24px 0;
}

.req-info,
.history-info {
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 20px;

  .req-tenant,
  .req-landlord,
  h5 {
    margin: 0;
    padding: 0 20px;
    width: 240px;
  }

  .address {
    width: 480px;
  }
}

.head {
  padding-left: 40px;
  height: 60px;
}

.option-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
}

// ReqList/Form.js

.seperator {
  position: absolute;
  margin-top: 200px;
  right: 0;

  #text {
    width: 800px;
    height: 100px;
    resize: none;
    border-radius: 6px;
  }
}

// RentHistory.js

.table-container {
  width: $wrapper-width;
  margin-top: 40px;
  border: 1px solid $table-container-color;

  tr:nth-child(even) {
    background-color: $light-orange;
}
  
  th,
  td {
    position: relative;
    padding: 0 16px;
  }

  .action-btn {
    width: 200px;
    padding: 8px;

    &:hover {
      background-color: red;
    }
  }

  .tr-heading {
    position: relative;
    // border: 1px solid blue;
    height: 60px;
    background-color: $table-container-color;
    color: white;
  }

  .tr-history {
    height: 60px;
  }

  th {
    margin-right: 20px;
  }

  .th-action {
    width: 200px;
    text-align: center;
  }
}

// .rent-history-info {
//   display: flex;
//   padding: 0 20px;

//   .rent-historty-address {
//     width: 480px;
//   }

//   h5 {
//     padding-right: 112px;
//   }

// }

// .test2 {
//   border: 1px solid red;
//   width: 200px;
//   height: 400px;
//   z-index: 3;
// }
