/* UserpageHeroContent.js */

.hero-container {
  padding-top: 80px;
  font-family: $name-font;
  height: 310px;
  width: 100%;
  background-color: $light-orange;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    margin-top: 200px;
    padding: 20px;
    z-index: 1;

    .hero-content-item {
      margin: 10px;

      .profile-img {
        width: 200px;
        border-radius: 50%;
      }
    }

    h2 {
      font-size: 40px;
      color: $dark-grey;
    }
  }
}

/* User.js (index.js) */

.user-page-wrapper {
  background-color: $background-color;
  padding: 160px;
  margin: 0 auto;
  display: flex;
  position: relative;
  height: 1000px;
  width: 2000px;

  /* RecentViewList.js & RecentView.js */

  .fav-wrapper {
    width: 100px;
    .fav-properties {
      display: flex;
    }
  }

  /* UserInfo.js */

  .user-info-wrapper {
    position: relative;
    width: 400px;
    .user-info-list {
      margin-bottom: 40px;
    }

    #my-info-label {
      background-color: $dark-grey;
      border: $dark-grey;
    }
  }
}
