/* UserpageHeroContent.js */

/* User.js (index.js) */

.user-page-wrapper {
  // background-color: $background-color;
  padding: 160px;
  margin: 0 auto;
  display: flex;
  position: relative;

  /* RecentView.js */
}

.hero-content-item {
  // width: 1200px;
  font-family: $main-font;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;

  h2 {
    color: $table-font-color;
  }

  .round-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    // border: 1px solid $primary-btn-color;
    box-shadow: 2px 2px 8px 0.1px #c2c2c2;
    overflow: hidden;
    position: relative;
    margin-right: 40px;
  }

  .profile-img {
    max-width: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: inherit;
  }
}

.about-me {
  height: 200px;
  background-color: #fff;
  // border: 1px red solid;
}
.user-page-container {
  padding-top: 40px;
  // width: 100%;
  // display: flex;
  // justify-content: space-between;
}

.test {
  width: 496px;
}

/* UserInfo.js */

.user-info-wrapper {
  position: relative;
  width: 400px;
  .user-info-list {
    margin-bottom: 40px;
  }

  #my-info-label {
    background-color: $dark-grey;
    border: $dark-grey;
  }
}
